body{
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
}
.align-center{
    text-align: center;
}
.background-image{
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
} 

.text-color{
    color: yellow;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
}
section{
    margin-bottom: 100px;
}
.display-flex{
    display: flex;
}
.half-width{
    width: 27%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 5px 5px 10px wheat;
    padding-left: 20px;
    
}
.box{
    width: 10%;
    height: 90px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 20px wheat;
    text-align: center;
   
}
.background-color{
    background-color: blue;
    width: 1500px;
    height: 200px;
    color: white;
    text-align: center;
}
.border{
    border: 5px solid blue;
}
