body{
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.donate-now{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;

}
.aline-center{
    text-align: center;
}
.display-plax{
    display: flex;
}
.half-width{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px gray;
    padding-left: 20px;
    padding-right: 10px;
}